# What do we have to do?

- Data acquisition
- Preparation
- Cleaning and aggregation
- Exploratory data analyis


# Description

- Credits: Since the dataset is a > 100mb file, we have to clean it first
  - Removed unnecesary crew column
  - Saved it as a new csv file
  - The cast column contains innecesary keys (it's a json)
  - Looped through each row on the dataset and removed those keys
  - Removed rows when getting an error while converting the json string to an object
  - Save it as new csv file
  - Got a list of performers and the number of movies they have perform in
- Academy Award winning films (table from wikipedia)
  - Requested the wikipedia site
  - Got the table containing all data
  - Cleaned and created a new dataset with the list of movies and their nominations

***

More datasets in mind
- Movie Budget - Highest-grossing films (already in movies dataset)
- Actors salary
- Awards (Oscar, Emmys, Rotten tomatoes)
- Director (keep it just in case)


# Data
Main datasets:
- **movies_metadata.csv** - Movies dataset
- **credits_cleaned01.csv** - List of people per movie (directors, actors, etc)

***

In [2]:
import pandas as pd

***
## CREDITS
This dataframe contains 3 columns:
- **cast**: Json string with the information about the actor/acrtrees
- **crew**: Json string with the information about Directors and other members of the team
- **id**: Movie identifier

***

First we import json to to be able to deal with json strings:

In [12]:
import json
from os.path import exists

**credits_cleaned01** is big in size, the first action we are doing here is removing the column **crew** since we are not going to use it and then we save the dataset as a new file (which size is almost a half of the original dataset)

## REDUCING CREDITS FILE SIZE

**RUN ALL THIS IF YOU HAVE THE credits_cleaned01.csv FILE,**

This file is greater than 100mb, we can not upload it into github, skip this part and run the section where we import the file **credits_cleaned03.csv** down below.

In [118]:
file_exists = exists("data/credits_cleaned01.csv")
if(file_exists):
    credits = pd.read_csv('data/credits_cleaned01.csv')
    credits.drop(columns=['crew'], inplace=True, axis=1)
    credits.to_csv('data/credits_cleaned02.csv', index=False)
    display(list(credits.columns))

['Unnamed: 0', 'cast', 'id']

Now we read again the new file  and displays its size and columns where we can see there are only two

In [119]:
file_exists = exists("data/credits_cleaned02.csv")
if(file_exists):
    credits = pd.read_csv('data/credits_cleaned02.csv',index_col=0)
    display(len(credits))
    display(list(credits.columns))

45399

['cast', 'id']

Each row contains a large json with information we don't wan't want to use, this is how each **cast** looks like

In [126]:
if(file_exists):
    print(credits.iloc[0]['cast'][0:500],"...")

[{"character": "Woody (voice)", "name": "Tom Hanks"}, {"character": "Buzz Lightyear (voice)", "name": "Tim Allen"}, {"character": "Mr. Potato Head (voice)", "name": "Don Rickles"}, {"character": "Slinky Dog (voice)", "name": "Jim Varney"}, {"character": "Rex (voice)", "name": "Wallace Shawn"}, {"character": "Hamm (voice)", "name": "John Ratzenberger"}, {"character": "Bo Peep (voice)", "name": "Annie Potts"}, {"character": "Andy (voice)", "name": "John Morris"}, {"character": "Sid (voice)", "name ...

Since the format of the json is not compatible with **json.loads()** we need to change the structure in order to have a dict of people for each movie:
- Loop through each row on the dataset
- Change quotes to dummy values
- Remove unnecesary quotes or backslash (if any)
- Remove unnecesary indexes from the dict of people
- Update the dataset with the reduced json file

In [121]:
file_exists = exists("data/credits_cleaned02.csv")
if(file_exists):
    credits = pd.read_csv('data/credits_cleaned02.csv',index_col=0)
    credits.reset_index(drop=True, inplace=True)

errors = []
if(file_exists):
    for i, credit in credits.iterrows():
        if(i >= 0):
            try:
                cast = credit.cast
                cast = cast.replace("{'", "{##")
                cast = cast.replace('{"', "{##")

                cast = cast.replace("': ", "##: ")
                cast = cast.replace('": ', "##: ")

                cast = cast.replace(", '", ", ##")
                cast = cast.replace(', "', ", ##")

                cast = cast.replace("'}", "##}")
                cast = cast.replace('"}', "##}")

                cast = cast.replace(": '", ": ##")
                cast = cast.replace("', ", "##, ")
                cast = cast.replace(': "', ': ##')
                cast = cast.replace('", ', '##, ')
                cast = cast.replace('"}', '##}')
                cast = cast.replace("\\", '')

                cast = cast.replace('"', "")
                cast = cast.replace("'", "")

                cast = cast.replace('##', '"')
                cast = cast.replace(": None", ": null")
                if(credit.cast == "[]" or credit.cast == ""):
                    errors.append(i)
                else:
                    arrayOfPeople = json.loads(cast)
                    for dictOfPeople in arrayOfPeople:
                        dictOfPeople.pop("cast_id")
                        dictOfPeople.pop("credit_id")
                        dictOfPeople.pop("gender")
                        dictOfPeople.pop("order")
                        dictOfPeople.pop("profile_path")
                        dictOfPeople.pop("id")
                        dictOfPeople['character'].replace('"',"´")
                    credits.iloc[i,0] = json.dumps(arrayOfPeople)
            except Exception as e:
                print(i)
                errors.append(i)

In [556]:
#These are out of range elements:
#print(errors)

In [122]:
len(credits)

45399

In [558]:
#If we want to eliminate errors:
for i in errors:
    try:
        credits.drop(credits.index[i],inplace=True)
    except Exception as e:
        #print(e)
        pass
credits.reset_index(drop=True, inplace=True)

In [559]:
len(credits)

43182

In [560]:
credits.head(3)

                                                cast     id
0  [{"character": "Woody (voice)", "name": "Tom H...    862
1  [{"character": "Alan Parrish", "name": "Robin ...   8844
2  [{"character": "Max Goldman", "name": "Walter ...  15602

Now we store this dataframe as a new file, with these steps we have reduced the original file from 190mb to 37mb which is better because we will deal with a smaller file

In [561]:
credits.to_csv('data/credits_cleaned03.csv')

## USING REDUCED CREDITS FILE

In [4]:
credits = pd.read_csv('data/credits_cleaned03.csv', index_col=0)
credits.head(2)

                                                cast    id
0  [{"character": "Woody (voice)", "name": "Tom H...   862
1  [{"character": "Alan Parrish", "name": "Robin ...  8844

Let's get a dataset of performers counting their participation on movies:

In [19]:
actArray = []
movArray = []
for i, credit in credits.iterrows():
    try:
        arrayOfPeople = json.loads(credit.cast)
        for dictOfPeople in arrayOfPeople:
            actArray.append(dictOfPeople["name"])
            movArray.append(credit.id)
    except Exception as e:  
        print(i,credit.cast,e)
        break

    
myDict = {'performer': actArray, 'movie_id': movArray}
acts = pd.DataFrame(data=myDict)

counts = acts['performer'].value_counts().to_frame()
counts.reset_index(inplace=True)
counts.columns = counts.columns.str.replace('performer', 'number_of_movies')
counts.columns = counts.columns.str.replace('index', 'performer')

#for i in range(0,len(counts)):
    #print(counts.iloc[i].performer, counts.iloc[i].number_of_movies)
    #break
    
display(counts)

                   performer  number_of_movies
0               Bess Flowers               230
1            Christopher Lee               141
2          Samuel L. Jackson               120
3                 John Wayne               120
4          Donald Sutherland               107
...                      ...               ...
196189                Joanne                 1
196190  Johnny Chung-Jen Lin                 1
196191         Ma Nien-Hsien                 1
196192          Wei-min Ying                 1
196193     Aleksandr Chabrov                 1

[196194 rows x 2 columns]

In [20]:
acts.head(2)

   performer  movie_id
0  Tom Hanks       862
1  Tim Allen       862

## Getting list of Academy Award winning films
Now we will get the list of academy award winning films from wikipedia scraping data to compare the best movies with what we have in our dataset

In [112]:
import requests
from bs4 import BeautifulSoup
url = "https://en.wikipedia.org/wiki/List_of_Academy_Award-winning_films"
req = requests.get(url)
soup = BeautifulSoup(req.content, 'html.parser')
body = soup.find('body')
table = body.find('table')
tbody = table.find('tbody')


c_names = []
awardsData = []

trs = tbody.findAll('tr')
for i in range(len(trs)):
    
    if(i ==0):
        #Getting column names:
        ths = trs[i].findAll('th')
        for j in range(len(ths)):
            c_names.append(ths[j].getText().replace(u'\n', ''))
    else:
        #Data:
        tds = trs[i].findAll('td')
        awardsData.append({
            c_names[0]:tds[0].getText(),
            c_names[1]:tds[1].getText().replace(u'\xa0', ''),
            c_names[2]:int(tds[2].getText().split(' ')[0].replace(u'\n', '')),
            c_names[3]:int(tds[3].getText().split('[')[0].replace(u'\n', '')),
        });
        
academyAwards = pd.DataFrame.from_dict(sorted(awardsData, key=lambda d: d['Nominations'], reverse=True) )
    
display(academyAwards)

,Film,Year,Awards,Nominations
0,La La Land,2016,6,14
1,Titanic,1997,11,14
2,All About Eve,1950,6,14
3,The Shape of Water,2017,4,13
4,The Curious Case of Benjamin Button,2008,3,13
...,...,...,...,...
1342,Pollyanna,1960,0,0
1343,Samurai I: Musashi Miyamoto (Miyamoto Musashi),1955,0,0
1344,Spawn of the North,1938,0,0
1345,Target for Tonight,1941,0,0
1346,The Walls of Malapaga,1950,0,0

## USING MOVIES FILE

In [2]:
movies = pd.read_csv('data/movies_metadata.csv',dtype={'popularity': 'float'})
print('Columns:')
print(',  '.join(movies))

Columns:
adult,  belongs_to_collection,  budget,  genres,  homepage,  id,  imdb_id,  original_language,  original_title,  overview,  popularity,  poster_path,  production_companies,  production_countries,  release_date,  revenue,  runtime,  spoken_languages,  status,  tagline,  title,  video,  vote_average,  vote_count

In [3]:
movies.head(1)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415

Let's analyze the column belongs_to_collection:

In [47]:
print(movies.loc[:,'belongs_to_collection'][0])
print(movies.loc[:,'belongs_to_collection'][9])

{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}
{'id': 645, 'name': 'James Bond Collection', 'poster_path': '/HORpg5CSkmeQlAolx3bKMrKgfi.jpg', 'backdrop_path': '/6VcVl48kNKvdXOZfJPdarlUGOsk.jpg'}

The column has some values that we are not going to use: poster_path, backdrop_path and id.

In [48]:
errors = []
for i, movie in movies.iterrows():
    if(i >= 0):
        try:
            collection = movie.belongs_to_collection

            collection = collection.replace("{'", "{##")
            collection = collection.replace('{"', "{##")

            collection = collection.replace("': ", "##: ")
            collection = collection.replace('": ', "##: ")

            collection = collection.replace(", '", ", ##")
            collection = collection.replace(', "', ", ##")

            collection = collection.replace("'}", "##}")
            collection = collection.replace('"}', "##}")

            collection = collection.replace(": '", ": ##")
            collection = collection.replace("', ", "##, ")
            collection = collection.replace(': "', ': ##')
            collection = collection.replace('", ', '##, ')
            collection = collection.replace('"}', '##}')
            collection = collection.replace("\\", '')

            collection = collection.replace('"', "")
            collection = collection.replace("'", "")

            collection = collection.replace('##', '"')
            collection = collection.replace(": None", ": null")

            if(movie.belongs_to_collection == "[]" or movie.belongs_to_collection == ""):
                errors.append(i)
            else:
                collectionDict = json.loads(collection)
                #Removing the columns poster_path, backdrop_path, and id
                collectionDict.pop("poster_path")
                collectionDict.pop("backdrop_path")
                collectionDict.pop("id")
                movies.loc[i,'belongs_to_collection'] = json.dumps(collectionDict)
                #movies.loc[i,'belongs_to_collection'] = str(collectionDict['name'])
        except Exception as e:
            #print(e)
            errors.append(i)

In [49]:
movies.loc[:,'belongs_to_collection'][0]

'{"name": "Toy Story Collection"}'

Let's analyze the column genres:

In [50]:
print(movies.loc[:,'genres'][0])
print(movies.loc[:,'genres'][9])

[{'id': 16, 'name': 'Animation'}, {'id': 35, 'name': 'Comedy'}, {'id': 10751, 'name': 'Family'}]
[{'id': 12, 'name': 'Adventure'}, {'id': 28, 'name': 'Action'}, {'id': 53, 'name': 'Thriller'}]

The column has some values that we are not going to use: id

In [51]:
errors = []
for i, movie in movies.iterrows():
    if(i >= 0):
        try:
            genres = movie.genres

            genres = genres.replace("{'", "{##")
            genres = genres.replace('{"', "{##")

            genres = genres.replace("': ", "##: ")
            genres = genres.replace('": ', "##: ")

            genres = genres.replace(", '", ", ##")
            genres = genres.replace(', "', ", ##")

            genres = genres.replace("'}", "##}")
            genres = genres.replace('"}', "##}")

            genres = genres.replace(": '", ": ##")
            genres = genres.replace("', ", "##, ")
            genres = genres.replace(': "', ': ##')
            genres = genres.replace('", ', '##, ')
            genres = genres.replace('"}', '##}')
            genres = genres.replace("\\", '')

            genres = genres.replace('"', "")
            genres = genres.replace("'", "")

            genres = genres.replace('##', '"')
            genres = genres.replace(": None", ": null")

            if(movie.genres == "[]" or movie.genres == ""):
                errors.append(i)
            else:
                genresDict = json.loads(genres)
                for genre in genresDict:
                    #Removing the column id
                    genre.pop("id")
                    #genresList.append(genre['name'])
                movies.loc[i,'genres'] = json.dumps(genresDict)
                #movies.loc[i,'genres'] = str(genresList)
        except Exception as e:
            #print(e)
            errors.append(i)

In [52]:
print(movies.loc[:,'genres'][0])

[{"name": "Animation"}, {"name": "Comedy"}, {"name": "Family"}]

Let's analyze the column production_companies:

In [53]:
movies.loc[:,'production_companies'][1]

"[{'name': 'TriStar Pictures', 'id': 559}, {'name': 'Teitler Film', 'id': 2550}, {'name': 'Interscope Communications', 'id': 10201}]"

The column has some values that we are not going to use: id

In [54]:
errors = []
for i, movie in movies.iterrows():
    if(i >= 0):
        try:
            prod_companies = movie.production_companies

            prod_companies = prod_companies.replace("{'", "{##")
            prod_companies = prod_companies.replace('{"', "{##")

            prod_companies = prod_companies.replace("': ", "##: ")
            prod_companies = prod_companies.replace('": ', "##: ")

            prod_companies = prod_companies.replace(", '", ", ##")
            prod_companies = prod_companies.replace(', "', ", ##")

            prod_companies = prod_companies.replace("'}", "##}")
            prod_companies = prod_companies.replace('"}', "##}")

            prod_companies = prod_companies.replace(": '", ": ##")
            prod_companies = prod_companies.replace("', ", "##, ")
            prod_companies = prod_companies.replace(': "', ': ##')
            prod_companies = prod_companies.replace('", ', '##, ')
            prod_companies = prod_companies.replace('"}', '##}')
            prod_companies = prod_companies.replace("\\", '')

            prod_companies = prod_companies.replace('"', "")
            prod_companies = prod_companies.replace("'", "")

            prod_companies = prod_companies.replace('##', '"')
            prod_companies = prod_companies.replace(": None", ": null")

            if(movie.production_companies == "[]" or movie.production_companies == ""):
                errors.append(i)
            else:
                prodcompDict = json.loads(prod_companies)
                for prodcomp in prodcompDict:
                    #Removing the column id
                    prodcomp.pop("id")
                movies.loc[i,'production_companies'] = json.dumps(prodcompDict)
        except Exception as e:
            #print(e)
            errors.append(i)

In [55]:
movies.loc[:,'production_companies'][1]

'[{"name": "TriStar Pictures"}, {"name": "Teitler Film"}, {"name": "Interscope Communications"}]'

Exporting the changes to a new file:

In [56]:
movies.to_csv('data/movies_cleaned01.csv', index=False)

### Reading the movies cleaned file:

In [7]:
movies = pd.read_csv('data/movies_cleaned01.csv', dtype={'popularity': 'float'})
print('Columns:')
print(',  '.join(movies))

Columns:
adult,  belongs_to_collection,  budget,  genres,  homepage,  id,  imdb_id,  original_language,  original_title,  overview,  popularity,  poster_path,  production_companies,  production_countries,  release_date,  revenue,  runtime,  spoken_languages,  status,  tagline,  title,  video,  vote_average,  vote_count

In [8]:
movies.loc[:,'production_companies'][1]

'[{"name": "TriStar Pictures"}, {"name": "Teitler Film"}, {"name": "Interscope Communications"}]'

In [9]:
movies.popularity

0        21.946943
1        17.015539
2        11.712900
3         3.859495
4         8.387519
           ...
45458     0.072051
45459     0.178241
45460     0.903007
45461     0.003503
45462     0.163015
Name: popularity, Length: 45463, dtype: float64

In [97]:
movies.id.sort_values()

4342          2
12947         3
17            5
474           6
256          11
          ...
45075    465044
45270    467731
21890    468343
45395    468707
20188    469172
Name: id, Length: 45463, dtype: int64

In [95]:
movies[movies.id=='6269']

Empty DataFrame
Columns: [adult, belongs_to_collection, budget, genres, homepage, id, imdb_id, original_language, original_title, overview, popularity, poster_path, production_companies, production_countries, release_date, revenue, runtime, spoken_languages, status, tagline, title, video, vote_average, vote_count]
Index: []

[0 rows x 24 columns]

## Reading actors and actresses Oscar winners

### Reading a TXT file from a URL

In [3]:
import requests
url = 'https://www.openintro.org/data/tab-delimited/oscars.txt'
req = requests.get(url, headers={"User-Agent": "Notebook"})
#Create a list with the TXT results and use the \n to separate the rows
Oscar_list=req.text.split('\n')
Oscar_data=[]
for i,row in enumerate(Oscar_list):
    if i==0:
        col_names=row.split('\t')
    else:
        Oscar_data.append(row.split('\t'))
#Creation of the dataframe
Oscars=pd.DataFrame(Oscar_data, columns=col_names)
#Remove of the last row
Oscars.drop(index=Oscars.index[-1], axis=0, inplace=True)
#Removal of unnecessary columns
Oscars.drop(columns=['oscar_no', 'birth_mo','birth_d', 'birth_y'], inplace=True)
display(Oscars)

,oscar_yr,award,name,movie,age,birth_pl,birth_date
0,1929,Best actress,Janet Gaynor,7th Heaven,22,Pennsylvania,1906-10-06
1,1930,Best actress,Mary Pickford,Coquette,37,Canada,1892-04-08
2,1931,Best actress,Norma Shearer,The Divorcee,28,Canada,1902-08-10
3,1932,Best actress,Marie Dressler,Min and Bill,63,Canada,1868-11-09
4,1933,Best actress,Helen Hayes,The Sin of Madelon Claudet,32,Washington DC,1900-10-10
...,...,...,...,...,...,...,...
179,2015,Best actor,Eddie Redmayne,The Theory of Everything,32,England,1982-01-06
180,2016,Best actor,Leonardo Di Caprio,The Revenant,41,California,1974-11-11
181,2017,Best actor,Casey Affleck,Manchester by the Sa,41,Massachusetts,1975-08-12
182,2018,Best actor,Gary Oldman,Darkest Hour,59,England,1958-03-21
183,2019,Best actor,Rami Malek,Bohemian Rhapsody,37,California,1981-05-12

List of actors/actresses that were awarded more than 1 Oscar

In [4]:
top10actors = Oscars['name'].value_counts()
top10actors = top10actors[top10actors.values>1]
top10actors

Katharine Hepburn      4
Daniel Day-Lewis       3
Sally Field            2
Olivia de Havilland    2
Meryl Streep           2
Jack Nicholson         2
Frances McDormand      2
Jane Fonda             2
Glenda Jackson         2
Hilary Swank           2
Tom Hanks              2
Sean Penn              2
Jodie Foster           2
Fredric March          2
Dustin Hoffman         2
Ingrid Bergman         2
Marlon Brando          2
Vivien Leigh           2
Luise Rainer           2
Bette Davis            2
Gary Cooper            2
Spencer Tracy          2
Name: name, dtype: int64

In which movies were the best actor/actress Oscar awards take place?

In [5]:
index=[]
for i,name in enumerate(Oscars['name']):
    if name in top10actors.index:
        index.append(i)
Oscars.iloc[index]
grouped=Oscars.iloc[index]
grouped=grouped.loc[:,['name','movie','oscar_yr','award']].groupby(['name','movie'])
grouped.first().sort_values(['name','oscar_yr'])

                                                                oscar_yr  \
name                movie
Bette Davis         Dangerous                                       1936
                    Jezebel                                         1939
Daniel Day-Lewis    My Left Foot                                    1990
                    There Will Be Blood                             2008
                    Lincoln                                         2013
Dustin Hoffman      Kramer vs. Kramer                               1980
                    Rain Man                                        1989
Frances McDormand   Fargo                                           1997
                    Three Billboards Outside of Ebbing Missouri     2018
Fredric March       Dr. Jekyll and Mr. Hyde                         1933
                    The Best Years of Our Lives                     1947
Gary Cooper         Sergeant York                                   1942
                    High Noon                                       1953
Glenda Jackson      Women In Love                                   1971
                    A Touch of Class                                1974
Hilary Swank        Boys Don't Cry                                  2000
                    Million Dollar Baby                             2005
Ingrid Bergman      Gaslight                                        1945
                    Anastasia                                       1957
Jack Nicholson      One Flew Over The Cuckoo's Nes                  1976
                    As Good as It Gets                              1998
Jane Fonda          Klute                                           1972
                    Coming Home                                     1979
Jodie Foster        The Accused                                     1989
                    The Silence of the Lambs                        1992
Katharine Hepburn   Morning Glory                                   1934
                    Guess Who's Coming to Dinner                    1968
                    The Lion in Winter                              1969
                    On Golden Pond                                  1982
Luise Rainer        The Great Zeigfeld                              1937
                    The Good Earth                                  1938
Marlon Brando       On The Waterfront                               1955
                    The Godfather                                   1973
Meryl Streep        Sophies Choice                                  1983
                    The Iron Lady                                   2012
Olivia de Havilland To Each His Own                                 1947
                    The Heiress                                     1950
Sally Field         Norma Rae                                       1980
                    Places in the Heart                             1985
Sean Penn           Mystic River                                    2004
                    Milk                                            2009
Spencer Tracy       Captains Courageous                             1938
                    Boys Town                                       1939
Tom Hanks           Philadelphia                                    1994
                    Forest Gump                                     1995
Vivien Leigh        Gone With the Wind                              1940
                    A Streetcar Named Desire                        1952

                                                                        award
name                movie
Bette Davis         Dangerous                                    Best actress
                    Jezebel                                      Best actress
Daniel Day-Lewis    My Left Foot                                   Best actor
                    There Will Be Blood                            Best actor
                    Lincoln                                        Best actor
Dustin Hoffman      Kramer vs. Kramer                              Best actor
                    Rain Man                                       Best actor
Frances McDormand   Fargo                                        Best actress
                    Three Billboards Outside of Ebbing Missouri  Best actress
Fredric March       Dr. Jekyll and Mr. Hyde                        Best actor
                    The Best Years of Our Lives                    Best actor
Gary Cooper         Sergeant York                                  Best actor
                    High Noon                                      Best actor
Glenda Jackson      Women In Love                                Best actress
                    A Touch of Class                             Best actress
Hilary Swank        Boys Don't Cry                               Best actress
                    Million Dollar Baby                          Best actress
Ingrid Bergman      Gaslight                                     Best actress
                    Anastasia                                    Best actress
Jack Nicholson      One Flew Over The Cuckoo's Nes                 Best actor
                    As Good as It Gets                             Best actor
Jane Fonda          Klute                                        Best actress
                    Coming Home                                  Best actress
Jodie Foster        The Accused                                  Best actress
                    The Silence of the Lambs                     Best actress
Katharine Hepburn   Morning Glory                                Best actress
                    Guess Who's Coming to Dinner                 Best actress
                    The Lion in Winter                           Best actress
                    On Golden Pond                               Best actress
Luise Rainer        The Great Zeigfeld                           Best actress
                    The Good Earth                               Best actress
Marlon Brando       On The Waterfront                              Best actor
                    The Godfather                                  Best actor
Meryl Streep        Sophies Choice                               Best actress
                    The Iron Lady                                Best actress
Olivia de Havilland To Each His Own                              Best actress
                    The Heiress                                  Best actress
Sally Field         Norma Rae                                    Best actress
                    Places in the Heart                          Best actress
Sean Penn           Mystic River                                   Best actor
                    Milk                                           Best actor
Spencer Tracy       Captains Courageous                            Best actor
                    Boys Town                                      Best actor
Tom Hanks           Philadelphia                                   Best actor
                    Forest Gump                                    Best actor
Vivien Leigh        Gone With the Wind                           Best actress
                    A Streetcar Named Desire                     Best actress

List of movies that won the award of best actor and best actress

In [6]:
movies_2_oscars=Oscars['movie'].value_counts()
movies_2_oscars=movies_2_oscars[movies_2_oscars.values==2]
movies_2_oscars

Network                     2
Coming Home                 2
It Happened One Night       2
On Golden Pond              2
The Silence of the Lambs    2
Name: movie, dtype: int64

Which actor and actress was awarded the Oscar:

In [7]:
index=[]
for i,movie in enumerate(Oscars['movie']):
    if movie in movies_2_oscars.index:
        index.append(i)
Oscars.iloc[index].sort_values('oscar_yr')[['oscar_yr','award','name','movie']]

    oscar_yr         award               name                     movie
6       1935  Best actress  Claudette Colbert     It Happened One Night
92      1935    Best actor        Clark Gable     It Happened One Night
49      1977  Best actress       Faye Dunaway                   Network
134     1977    Best actor        Peter Finch                   Network
51      1979  Best actress         Jane Fonda               Coming Home
136     1979    Best actor         Jon Voight               Coming Home
54      1982  Best actress  Katharine Hepburn            On Golden Pond
139     1982    Best actor        Henry Fonda            On Golden Pond
64      1992  Best actress       Jodie Foster  The Silence of the Lambs
149     1992    Best actor    Anthony Hopkins  The Silence of the Lambs

## USING RATINGS FILE

In [11]:
ratings = pd.read_csv('data/ratings_small.csv', index_col=0)
ratings.head()

        movieId  rating   timestamp
userId
1            31     2.5  1260759144
1          1029     3.0  1260759179
1          1061     3.0  1260759182
1          1129     2.0  1260759185
1          1172     4.0  1260759205

In [103]:
type(ratings.movieId)

pandas.core.series.Series

In [28]:
movie_rating = movies.merge (ratings, left_on='id', right_on='movieId', how='inner')
movie_rating.head(5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,spoken_languages,status,tagline,title,video,vote_average,vote_count,movieId,rating,timestamp
0,False,NaN,60000000,"[{""name"": ""Action""}, {""name"": ""Crime""}, {""name...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886,949,3.5,1148721092
1,False,NaN,60000000,"[{""name"": ""Action""}, {""name"": ""Crime""}, {""name...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886,949,4.0,956598942
2,False,NaN,60000000,"[{""name"": ""Action""}, {""name"": ""Crime""}, {""name...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886,949,2.0,955092697
3,False,NaN,60000000,"[{""name"": ""Action""}, {""name"": ""Crime""}, {""name...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886,949,5.0,956688825
4,False,NaN,60000000,"[{""name"": ""Action""}, {""name"": ""Crime""}, {""name...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886,949,3.0,1117846575